data/CID005217-1/filtered/barcodes.tsv
data/CID005217-1/filtered/features.tsv
data/CID005217-1/filtered/matrix.mtx
data/CID005221-1/filtered/barcodes.tsv
data/CID005221-1/filtered/features.tsv
data/CID005221-1/filtered/matrix.mtx
data/CID006493-1/filtered/barcodes.tsv
data/CID006493-1/filtered/features.tsv
data/CID006493-1/filtered/matrix.mtx
data/CID006515-1/filtered/barcodes.tsv
data/CID006515-1/filtered/features.tsv
data/CID006515-1/filtered/matrix.mtx
data/CID007664-1/filtered/barcodes.tsv
data/CID007664-1/filtered/features.tsv
data/CID007664-1/filtered/matrix.mtx
data/CID007827-1/filtered/barcodes.tsv
data/CID007827-1/filtered/features.tsv
data/CID007827-1/filtered/matrix.mtx
data/CID008474-1/filtered/barcodes.tsv
data/CID008474-1/filtered/features.tsv
data/CID008474-1/filtered/matrix.mtx
output/scvi_models/model.pt
data/output/adata_integrated.h5ad
data/output/adata_raw.h5ad
data/output/adata_preprocessed_samplebatch.h5ad
data/output/adata_preprocessed.h5ad
data/output/adata_norms.h5ad
data/output/adata.h5ad
data/output/adata.csv
