data/CID005217-1/filtered/barcodes.tsv
data/CID005217-1/filtered/features.tsv
data/CID005217-1/filtered/matrix.mtx
data/CID005221-1/filtered/barcodes.tsv
data/CID005221-1/filtered/features.tsv
data/CID005221-1/filtered/matrix.mtx
data/CID006493-1/filtered/barcodes.tsv
data/CID006493-1/filtered/features.tsv
data/CID006493-1/filtered/matrix.mtx
data/CID006515-1/filtered/barcodes.tsv
data/CID006515-1/filtered/features.tsv
data/CID006515-1/filtered/matrix.mtx
data/CID007664-1/filtered/barcodes.tsv
data/CID007664-1/filtered/features.tsv
data/CID007664-1/filtered/matrix.mtx
data/CID007827-1/filtered/barcodes.tsv
data/CID007827-1/filtered/features.tsv
data/CID007827-1/filtered/matrix.mtx
data/CID008474-1/filtered/barcodes.tsv
data/CID008474-1/filtered/features.tsv
data/CID008474-1/filtered/matrix.mtx
output/scvi_models/model.pt
data/output/adata_integrated.h5ad
data/output/adata_raw.h5ad
data/output/adata_preprocessed_samplebatch.h5ad
data/output/adata_preprocessed.h5ad
data/output/adata_norms.h5ad
data/output/adata.csv
data/output/adata.h5ad
data/adata.h5ad

src/SCENICfiles/*.txt
src/SCENICfiles/pyscenic_output.loom
data/c2.cp.reactome.v2023.2.Hs.symbols.gmt
data/output/adata_aucell.h5ad
genereporter/__pycache__/*.pyc
.DS_Store
data/output/adata.h5
lib/*
src/.ipynb_checkpoints/*.ipynb
build/*
genereporter.egg-info/*
data2/veo_ibd_all_samples.h5ad
data2/veo_ibd_balanced.h5ad
src/SCENICfiles/*.csv
src/SCENICfiles/*.gz
src/SCENICfiles/gg_adj/*
src/SCENICfiles/*.loom
data2/veo_ibd_balanced_aucell.h5ad
src/SCENICfiles/reg_full_df2regulons.p
src/SCENICfiles/network_CASP8.html
data2/veo_ibd_balanced_old.h5ad

slurm_jupyter_*
